@font-face {
    font-family: SOLGAS;
    font-weight: 100;
    font-style: normal;
    font-display: block;
    src: url(/fonts/Solgas-xpoK.woff2) format('woff2');
}

@font-face {
    font-family: 'Fira Code';
    font-weight: 100;
    font-style: normal;
    font-display: block;
    src: url(/fonts/FiraCode-Retina.woff2) format('woff2');
}

@font-face {
    font-family: 'TaipeiSansTCBeta Regular';
    font-weight: 100;
    font-style: normal;
    font-display: block;
    src: url(/fonts/TaipeiSansTCBeta-Regular.woff2) format('woff2');
}
