#sidebar-profile {
    text-align: center;
    display: block;
    padding: 0 .8rem .8rem .8rem;
    box-sizing: border-box;
    left: 0;
    background-color: #1f1f23;
    max-width: 20rem;

    .sidebar-avatar {
        padding: 1rem 1.5rem 0 1.5rem;

        img {
            display: inline-block;
            width: 8rem;
            height: auto;
            margin: 0 auto;
            @include border-radius(100%);
            @include box-shadow(0 0 0 .3618em rgba(0, 0, 0, .05));
            @include transition(all 0.4s ease);

            &:hover {
                position: relative;
                @include transform(translateY(-.75rem));
            }
        }
    }

    .sidebar-title {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding: .5rem;
    }

    .sidebar-subtitle {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
        padding: .5rem;
    }

    .links {
        padding: .5rem;
        font-size: 1.5rem;

        a * {
            vertical-align: text-bottom;
        }

        img {
            height: 1.5rem;
            padding: 0 .25rem;
        }
    }

    #sidebar-intro {
        display: flex;
        flex-direction: row;        
        font-size: .8rem;
        margin: 0;
        padding: .5rem;
        text-align: left;

        .sidebar-intro-tabs-container {
            flex-grow: 1;
            float: left;
            width: 38.2%;
            display: flex;
            flex-direction: column;

            .sidebar-intro-tab{
                display: block;
                cursor: pointer;
                padding-left: 0.5rem;
            }

            .sidebar-intro-tab-active {
                border-bottom: #f7845d solid 1px;
                color: #f7845d;
            }
        }
        .sidebar-intro-content-container {
            flex-grow: 3;
            border-left: #f7845d solid 1px;
            width: 61.8%;
            padding: 0 0.5rem;

            .sidebar-intro-content.hide-content {
                display: none;
            }
            .sidebar-intro-content {
                display: block;
            }
        }
    }

    .sidebar-disclaimer {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: normal;
        margin: 0;
        padding: .5rem;
        color: $global-font-secondary-color;

        [theme=dark] & {
            color: $global-font-secondary-color-dark;
        }
    }


}
